<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/static/js/passwordStrength.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  <body class="bg-gray-100">
    <div class="container mx-auto mt-10">
      <h2 class="text-xl font-bold mb-4">Register</h2>
      <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          {{ form.hidden_tag() }}
          <div class="mb-4">
              {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2") }}
              {{ form.username(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", size=32) }}
          </div>
          <div class="mb-4">
              {{ form.email.label(class="block text-gray-700 text-sm font-bold mb-2") }}
              {{ form.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", size=32) }}
          </div>
          <div class="mb-4" id="password-strength-container">
              <label for="password-strength-meter" class="block text-gray-700 text-sm font-bold mb-2">Password Strength:</label>
              <meter id="password-strength-meter" min="0" max="4" value="0"></meter>
              <p id="password-strength-text" class="text-gray-700 text-sm">Enter password to see strength</p>
          </div>
          <div class="mb-4">
              {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
              {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", size=32) }}
          </div>
          <div class="mb-4">
              {{ form.confirm_password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
              {{ form.confirm_password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", size=32) }}
          </div>
          <div class="flex items-center justify-between">
              {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
              <a href="{{ url_for('home_route') }}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Go Back</a>
          </div>
          </div>
      </form>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>